vsphere_server: "VSPHERE_SERVER"
vsphere_user: "VCENTER_USER"
vsphere_password: "VCENTER_PASS"
admin_password: "LOCAL_ADMIN_PASS"
vsphere_datacenter: "DATACENTER"
vsphere_storage: "DATASTORE"
vsphere_cluster: "CLUSTER"
resource_pool: "RESOURCE_POOL"
vm_portgroup: "VM_PORTGROUP"
vm_folder: "VM_FOLDER"
vm_domain: "DOMAIN"
organization: "ORGNAME"
product_key_win16: "PRODUCT_KEY_FOR_WIN19"
product_key_win19: "PRODUCT_KEY_FOR_WIN16"
